.main {
  display: block;
  margin: 50px;
}

.header {
  margin-top: 120px;
  margin-bottom: 20px;
}

.content {
  display: flex;
}

.missions {
  margin: 0;
  width: 20vw;
}

.list {
  margin: 25px;
  font-size: 1.4em;
}
